/* account for fixed nav */
.tox-tinymce--toolbar-sticky-on .tox-editor-header {
   translate: 0 50px;
}

/* allow for fixed repeater items */
.InputfieldRepeater[data-min='2'][data-max='2'] .InputfieldRepeaterAddItem,
.InputfieldRepeater[data-min='3'][data-max='3'] .InputfieldRepeaterAddItem,
.InputfieldRepeater[data-min='4'][data-max='4'] .InputfieldRepeaterAddItem,
.InputfieldRepeater[data-min='5'][data-max='5'] .InputfieldRepeaterAddItem,
.InputfieldRepeater[data-min='6'][data-max='6'] .InputfieldRepeaterAddItem,
.InputfieldRepeater[data-min='7'][data-max='7'] .InputfieldRepeaterAddItem,
.InputfieldRepeater[data-min='8'][data-max='8'] .InputfieldRepeaterAddItem,
.InputfieldRepeater[data-min='9'][data-max='9'] .InputfieldRepeaterAddItem,
.InputfieldRepeater[data-min='2'][data-max='2'] .InputfieldRepeaterItemControls>i:not(.toggle-icon),
.InputfieldRepeater[data-min='3'][data-max='3'] .InputfieldRepeaterItemControls>i:not(.toggle-icon),
.InputfieldRepeater[data-min='4'][data-max='4'] .InputfieldRepeaterItemControls>i:not(.toggle-icon),
.InputfieldRepeater[data-min='5'][data-max='5'] .InputfieldRepeaterItemControls>i:not(.toggle-icon),
.InputfieldRepeater[data-min='6'][data-max='6'] .InputfieldRepeaterItemControls>i:not(.toggle-icon),
.InputfieldRepeater[data-min='7'][data-max='7'] .InputfieldRepeaterItemControls>i:not(.toggle-icon),
.InputfieldRepeater[data-min='8'][data-max='8'] .InputfieldRepeaterItemControls>i:not(.toggle-icon),
.InputfieldRepeater[data-min='9'][data-max='9'] .InputfieldRepeaterItemControls>i:not(.toggle-icon) {
   display: none !important;
}

/* new page version notices */
#pw-mastheads .NotificationBug {
   /* background: #848484; */
   color: black;
   position: static;
   margin-left: 10px;
   background-image: none;
   opacity: 1;
}

#NotificationList li {
   padding: 10px 40px;
   opacity: 1;
}

#NotificationMenu {
   z-index: 9995;
}

#pw-mastheads {
   position: sticky;
   top: 0;
   z-index: 99;
}

#pw-mastheads #notices {
   border-bottom: 1px solid #00000017;
}

#main #pw-dropdown-toggle-submit_save,
#main #pw-dropdown-toggle-submit_save_unpublished,
#main #pw-dropdown-toggle-submit_publish {
   display: inline-block !important;
   padding: 0 13px !important;
   border-left-color: rgba(255, 255, 255, .7) !important;
}

#submit_save.pw-button-dropdown-main,
#submit_save_unpublished.pw-button-dropdown-main,
#submit_publish.pw-button-dropdown-main {
   border-top-right-radius: 0 !important;
   border-bottom-right-radius: 0 !important;
}

#pw-masthead .fa-wrench {
   scale:1.1;
}

.uk-tooltip.uk-tooltip {
   border-radius: 4px;
   background-color: #4e4e4e!important;
   color: #ffffff;
   box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
}